node_modules
bower_components
.tmp
.idea
instrumented
reports
nbproject/private
dist
npm-debug.log
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.tmp/
/target/
/m-p-freelancer-logic/target/
/m-p-freelancer-api/target/

#NetBeans
nbactions.xml
/m-p-freelancer-api/nb-configuration.xml

#Tests
/m-p-freelancer-logic/derby.log
/m-p-freelancer-api/derby.log

#LoC Reports
data
