<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <title>MPFreelancer :: By Software Designs ::</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css(<%= meta.src %>) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../bower_components/bootswatch-dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(<%= meta.src %>) styles/main.css -->
        <!-- include: "type": "css", "files": "<%= meta.includeCssFiles %>" -->
        
        <!-- /include -->
        <!-- endbuild -->

        <!-- build:js(<%= meta.src %>) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/lodash/lodash.js"></script>
        <script src="../bower_components/restangular/dist/restangular.js"></script>
        <script src="../bower_components/ng-crud/dist/ngcrud.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.js"></script>
        <script src="../bower_components/ngstorage/ngStorage.js"></script>
        <script src="../bower_components/checklist-model/checklist-model.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="../bower_components/csw-ng-auth/dist/csw-ng-auth.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(<%= meta.src %>) scripts/scripts.js -->
        <!-- include: "type": "js", "files": "<%= meta.includeJsFiles %>" -->
        <script src="src/app.js"></script>
        <script src="src/modules/WorkExperience/workexperience.mod.js"></script>
        <script src="src/modules/agreement/agreement.mod.js"></script>
        <script src="src/modules/artifact/artifact.mod.js"></script>
        <script src="src/modules/blogEntry/blogEntry.mod.js"></script>
        <script src="src/modules/category/category.mod.js"></script>
        <script src="src/modules/curriculum/curriculum.mod.js"></script>
        <script src="src/modules/education/education.mod.js"></script>
        <script src="src/modules/freelancer/freelancer.mod.js"></script>
        <script src="src/modules/project/project.mod.js"></script>
        <script src="src/modules/projectSponsor/projectSponsor.mod.js"></script>
        <script src="src/modules/projectSprint/projectSprint.mod.js"></script>
        <script src="src/modules/skill/skill.mod.js"></script>
        <script src="src/modules/status/status.mod.js"></script>
        <script src="src/auth.js"></script>
        <script src="src/modules/agreement/agreement.ctrl.js"></script>
        <script src="src/modules/artifact/artifact.ctrl.js"></script>
        <script src="src/modules/blogEntry/blogEntry.ctrl.js"></script>
        <script src="src/modules/category/category.ctrl.js"></script>
        <script src="src/modules/curriculum/curriculum.ctrl.js"></script>
        <script src="src/modules/freelancer/freelancer.ctrl.js"></script>
        <script src="src/modules/project/project.ctrl.js"></script>
        <script src="src/modules/projectSponsor/projectSponsor.ctrl.js"></script>
        <script src="src/modules/skill/skill.ctrl.js"></script>
        <script src="src/modules/status/status.ctrl.js"></script>
        <!-- /include -->
        <!-- endbuild -->
        

    </head>
    <body  style="padding-top: 60px;">
        <div class="container">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-bar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" ui-sref="projectList">MPFreelancer :: By SDesigns ::</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div  class="collapse navbar-collapse" id="main-bar">
                            <ul id="menu" ng-controller="roleCtrl" id="menu" class="nav navbar-nav">
                                <li ng-if="category"><a ui-sref="category">Category</a></li>
                                <li ng-if="freelancer"><a ui-sref="freelancer">Freelancer</a></li>
                                <li ng-if="freelancerProfile"><a ui-sref="freelancerProfile">Freelancer Profile</a></li>
                                <li ng-if="project"><a ui-sref="project">Project</a></li>
                                <li ng-if="projectSponsor"><a ui-sref="projectSponsor">Project Sponsor</a></li>
                                <li ng-if="projectSponsorProfile"><a ui-sref="projectSponsorProfile">Project Sponsor Profile</a></li>
                                <li ng-if="invitations"><a ui-sref="invitations">Invitations</a></li>
                                <li ng-if="skill"><a ui-sref="skill">Skills</a></li>
                                <li ng-if="status"><a ui-sref="status">Status</a></li>
                                <li ng-if="agreement"><a ui-sref="agreement">Agreements</a></li>
                            </ul>
                            <ul  class="nav navbar-nav navbar-right">
                                <login-button></login-button>
                            </ul>
                        </div> <!-- /.navbar-collapse -->
                    </div> <!-- /.container-fluid -->
                </nav>
            </div>
            <br/>
            <br/>
            <br/>
            <div ui-view>
                <iframe width="860" height="515" src="https://www.youtube.com/embed/_nQ2lPVMOus?autoplay=1" frameborder="0"></iframe>
            </div>
        </div>
    </body>
</html>
